body {
  height: 100vh;
  width: 100vw;
  background-color: #100c08;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  flex-direction: row-reverse;
  gap: 10vmin;
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 25vmin;
  height: 75vmin;
  object-fit: cover;
  object-position: 100% center;
}

#target {
  height: 75vmin;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8vmin;
  margin-right: 3vmin;
}

@font-face {
  font-family: noto;
  src: url(NotoSerifHebrew.ttf);
}

.output {
  display: flex;
  flex-direction: column;
  width: 40vmin;
  text-align:center;
  font-family: 'noto';
  color:white;
  h1 {
    font-size:30px;
    margin: 0.2em;
  }
}

/* Cursor Styling */

.cursor::after {
  content:'';
  display:inline-block;
  margin-left:3px;
  background-color:white;
  animation-name:blink;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}
h1.cursor::after {
  height:24px;
  width:13px;
}
p.cursor::after {
  height:13px;
  width:6px;
}

@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.ms-content {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 10px solid #2ea4f2;
  border-radius: 100%;
}

.ms-content-inside {
  width: 100%;
  height: 100%;
  position: relative;
}

.ms-line-down-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(0deg);
  transition: transform 0s ease;
}
#ms-download {
  display: none;
}

.ms-line-down {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 125px;
  background: #FFFFFF;
  border-radius: 50px;
  transition: height .5s ease;
}

#ms-download:checked ~ .ms-line-down-container .ms-line-down {
  height: 10px;
  top: -20px;
  animation: ms-bounce .5s forwards .55s;
}

.ms-line-point {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 58px;
  height: 130px;
  transition: height .15s ease .45s;
}

#ms-download:checked ~ .ms-line-point {
  height: 60px;
}

#ms-download:checked ~ .ms-line-point:before {
  transform: rotate(90deg);
  right: -10px;
  animation: ms-check-right .25s forwards 1s;
}

#ms-download:checked ~ .ms-line-point:after {
  transform: rotate(-90deg);
  left: -10px;
  animation: ms-check-left .25s forwards 1s;
}

.ms-line-point:before,
.ms-line-point:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 75px;
  bottom: -10px;
  background: #FFFFFF;
  border-radius: 50px;
  transition: transform .15s ease .47s, left .15s ease .47s, right .15s ease .47s;
}

.ms-line-point:before {
  right: 0px;
  transform: rotate(45deg);
}

.ms-line-point:after {
  left: 0px;
  transform: rotate(-45deg);
}

@keyframes ms-bounce {
  0% {
    top: -20px;
  }
  25% {
    top: -250px;
  }
  50% {
    top: -275px;
  }
  100% {
    top: -190px;
    opacity: 0;
  }
}

@keyframes ms-check-left {
  0% {
    transform: rotate(-90deg);
    left: -10px;
    height: 75px;
  }
  100% {
    transform: rotate(-45deg);
    left: 0px;
    height: 45px;
  }
}

@keyframes ms-check-right {
  0% {
    transform: rotate(90deg);
    right: -10px;
    height: 75px;
    bottom: -10px;
  }
  100% {
    transform: rotate(45deg);
    right: 10px;
    height: 80px;
    bottom: -15px;
  }
}

@keyframes ms-border-fill {
  0% {
    border: 10px solid transparent;
  }
  100% {
    border: 10px solid #FFFFFF;
  }
}

.arrow {
  transform: rotate(-90deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 4vw;
  height: 4vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-40px, -40px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(40px, 40px);
  }
}